h2.card-title {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.25;
}

h4.card-text {
  color: rgba(0, 0, 0, 0.44);
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 400;
}

.mb-30px {
  margin-bottom: 30px;
}

.lecturer {
  color: #cd6799;
  font-weight: bold;
  font-size: 1.1rem;
}
